/* ----------------------------
WARNING: Here be messy, messy css. The perils of getting a holding page up as quickly as possible...
---------------------------- */

/* ----------------------------
simple reset
---------------------------- */

html,body,ul,ol,li,form,fieldset,legend{margin:0;padding:0}h1,h2,h3,h4,h5,h6,p{margin-top:0}fieldset,img{border:0}legend{color:#000}li{list-style:none}sup{vertical-align:text-top}sub{vertical-align:text-bottom}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;vertical-align:top;font-weight:400}input,textarea,select{font-size:110%;line-height:1.1}abbr,acronym{border-bottom:.1em dotted;cursor:help}

/* Full metal */

@font-face {
    font-family: 'Antilles';
    src: url('type/antilles-webfont.eot');
    src: url('type/antilles-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/antilles-webfont.woff') format('woff'),
         url('type/antilles-webfont.ttf') format('truetype'),
         url('type/antilles-webfont.svg#anitllesregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}

html { height: 100%; }

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 16px;
	color: #333;
	color: rgba( 0,0,0,0.8 );
	background: #f5eeee;
	padding: 30px 0 0 0;
	text-align: center;
}

section {
	width: 100%;
}


/* Top Section Content */
.londonjscontent {
	width: 85%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.ticketbutton {
	color: #F3EEEE;
	background-color: #a71d22;
	width: 50%;
	margin: 0 auto;
	display: block;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 1.5em;
}

/* Speakers Section Background */
.speakers {
	background: url('../img/sectionbackgrounds/speakers.jpg');
	margin: 0 auto;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 25% 75%;
}

/* Speakers Section Content */

.speakercontent {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.speaker {
	background: white;
	width: 20%;
	display: inline-block;
	margin-top: 50px;
	padding: 8px 8px 0 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.speaker img {
	width: 100%;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: grayscale(0.5);
  filter: gray; /* IE 6-9 */
}

.speaker img:hover {
	filter: none;
	filter: grayscale(0);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.speakername {
	padding: 10px 0;
}

.speakername a {
	color: #a71d22;
}

.tba {
	background-color: white;
	margin-top: 25px;
	padding: 8px 8px 8px 8px;
	display: block;
	width: 20%;
	margin-left: 50px;
}

/* About Section Background */
.aboutsection {
	background-color: #f5eeee;
	/* background: url('../img/sectionbackgrounds/about.jpg');
	margin: 0 auto;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 10% 55%;
  */
}

.aboutsection p a {
	text-decoration: underline;
}
/* About Section Content */

.aboutcontent {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
	padding-top: 50px;
}

.aboutcontent h1 {
	/* color: white; */
	color: #333;
	font-size: 2em;
	text-align: left;
}

.aboutcontent p {
	/* color: white; */
	color: #333;
	text-align: left;
}


/* Special Features Section Background */

.specialfeatures {
	background: url('../img/sectionbackgrounds/london2.jpg');
	background-position: 10% 55%;
	margin: 0 auto;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
  padding-bottom: 50px;
}

.specialfeatures p a{
	text-decoration: underline;
}

/* Special Features Section Content */

.features {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.features h1 {
	color: white;
	font-size: 2em;
	padding-top: 50px;
	text-align: left;
}

.features p {
	color: white;
	text-align: left;
}

.feature p {
		height: 3em;
}

.feature {
	width: 25%;
	display: inline-block;
	padding: 8px 8px 0 8px;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 25px;
	float: left;
}

.feature h2 {
	color: white;
	text-align: left;
}

.feature img {
	border: 5px solid white;
	width: 100%;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: grayscale(0.5);
  filter: gray; /* IE 6-9 */
}

.feature img:hover {
	filter: none;
	filter: grayscale(0);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.feature p {
	color: white;
	text-align: left;
}

.button {
	background-color: #1ccba4;
	display: block;
	width: 100%;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 5px 10px 5px;
	text-align: center;
	color: #ffeeee;
	font-size: 1.2em;
}

.hidden {
	display: none;
}

.featuredropcopter {
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #1ccba4;
	padding: 20px 20px 20px 20px;
	float: left;
}

.featuredropghost {
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #1ccba4;
	padding: 20px 20px 20px 20px;
	float: left;
}

.featuredropphoto {
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #1ccba4;
	padding: 20px 20px 20px 20px;
	float: left;
}

.featuredropcopter h2 {
	color: white;
	font-size: 1.5em;
		text-align: left;
}

.featuredropghost h2 {
	color: white;
	font-size: 1.5em;
		text-align: left;
}

.featuredropphoto h2 {
	color: white;
	font-size: 1.5em;
		text-align: left;
}

.featuredropcopter p {
	color: #333;
	font-size: 1em;
		text-align: left;
}

.featuredropghost p {
	color: #333;
	font-size: 1em;
		text-align: left;
}

.featuredropphoto p {
	color: #333;
	font-size: 1em;
		text-align: left;
}

/* Supporting Cast Section Background */

.supportingcast {
	background-color: #f5eeee;
	margin: 0 auto;
}

/* Supporting Cast Section Content */

.supporting {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.supporting h1 {
	color: #333;
	padding-top: 50px;
	font-size: 2em;
		text-align: left;
}

.supporting p {
	color: #333;
}

.goldsponsors {
	display: inline-block;
	margin: 0 auto;
	margin-left: 16px;
	margin-right: 16px;
}

.goldsponsors img {
	border: 5px solid #d5cdcd;
	width: 280px;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: grayscale(0.5);
  filter: gray; /* IE 6-9 */
}

.goldsponsors img:hover {
	filter: none;
	filter: grayscale(0);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

/* Section Content for Map */

.map {
	padding-bottom: none;
}

.map div {
	height: auto;
}

.map iframe {
	padding: 0;
}

/* Section Background for Locations */

.locationsection {
	background: url('../img/sectionbackgrounds/locations.jpg');
	margin: 0 auto;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Section Content for Locations */

.locations {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.locations h1 {
	color: white;
	padding-top: 50px;
		text-align: left;
}

.locations p {
	color: white;
		text-align: left;
}

.locationlist {
	width: 25%;
	display: inline-block;
	padding: 8px 8px 0 8px;
}

.locationlist h3 {
	color: white;
}

.locationlist ul {
	
}

/* Footer Background */

.footer {
	margin: 0 auto;
	background-color: #333;
	float: left;
}

.footercontent {
	color: white;
	font-size: 0.8em;
	text-align: center;
	padding: 10px;
}

.footercontent a {
	text-decoration: none;
}

.footercontent a:hover {
	text-decoration: underline;
}

p {
	line-height: 130%;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.1s ease-in;
}

	a:hover {
		opacity: 0.7;
	}

#details a {
	color: inherit;
	text-decoration: none;
	transition: 0.1s ease-in;
	border-bottom: none;
}

input {
	-webkit-appearance: none;
    border-radius: 0;
}

header {
	width: 90%;
	margin: 0 auto 5% auto;
}

#logo {
	display: block;
	margin: 0 auto 20px auto;
	background: url('../img/borntocode_sm.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	max-width: 290px;
	height: 209px;
}

header h3 {
	width: 100%;
	text-align: center;
	margin-bottom: 0;
}

header h1 {
	width: 100%;
	text-align: center;
	font-family: 'Antilles', sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: -1px;
}

	header h1 span {
		display: block;
		margin-bottom: -10px;
	}

	@media screen and (max-width: 480px) {
		.speaker {
			background: white;
			width: 70%;
			display: inline-block;
			margin: 20px auto;
			margin-left: 0;
			margin-right: 0;
		}

		.goldsponsors {
			width: 100%;
			display: block;
			margin: 15px auto;
			padding: 10px 10px 0 10px;
		}

		.locationlist {
			width: 70%;
			display: block;
			margin: 15px auto;
			padding: 10px 10px 0 10px;
		}

		.feature {
			width: 70%;
			display: block;
			margin: 15px auto;
			padding: 10px 10px 0 10px;
			float: none;

		}

		.features p {
			height: 10em;
		}

		.feature p {
			height: 6em;
		}

		.tba {
			margin: 0 auto;
			width: 70%;
		}

		.ticketwidget {
			display: none;
		}

		.featuredropcopter {
			padding-right: 15px;
			float: none;
			height: 15em;
		}

		.featuredropphoto {
			padding-right: 15px;
			float: none;
			height: 13em;
		}

		.featuredropghost {
			padding-right: 15px;
			float: none;
			height: 19em;
		}

		.comingsoon {
			display: none;
		}

	}

	@media screen and (max-width: 720px) {

		.comingsoon {
			display: none;
		}

		.features {
			margin: 0 auto;
		}

		.feature {
			width: 60%;
			margin-left: 20%;
		}

		.speaker {
			width: 60%;
		}


	}


	@media screen and (min-width: 720px) {
		#logo {
			background: url('../img/borntocode_md.jpg') no-repeat;
			background-size: cover;
			max-width: 500px;
			height: 360px;
		}

		header h1 {
			font-size: 4em;
		}

		header h3 {
			margin-top: 30px;
		}

		.ticketbuttonevb {
			display: none;
		}

		.feature p {
			height: 5em;
		}



	}

	@media screen and (min-width: 1210px) {
		#logo {
			background: url('../img/borntocode_lg.jpg') no-repeat;
			background-size: cover;
			max-width: 600px;
			height: 424px;
		}
		header h1 {
			font-size: 5em;
		}
		header h3 {
			margin-top: 50px;
			font-size: 1.5em;
		}
	}

#details {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

#details sub {
	vertical-align: inherit;
	font-size: 0.6em;
}

#details p {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow';
	display: inline;
	font-size: 1em;
	color: #666;
}

p#sponsors {
	display: block;
	margin-bottom: 50px;
}


#mc_embed_signup {
	display: inline-block;
}

	input#mce-EMAIL {
		background: none;
		border: none;
		border-bottom: 1px solid #999;
		text-transform: uppercase;
		font-family: 'PT Sans Narrow';
		display: inline;
		font-size: 1em;
		color: #999;
	}

	input[type=submit] {
		display: none;
	}

	@media screen and (min-width: 1220px) {

		#details p {
			font-size: 1.2em;
		}

	}

	@media screen and (max-width: 420px) {
		#details {
			margin-top: 70px;
		}
	}

	@media screen and (max-width: 800px) {
		#details {
			margin-top: 90px;
		}
	}