/* CSS crunched with Crunch - http://crunchapp.net/ */
.hidden{display:none;visibility:hidden;width:0px;height:0px;}
.big-text{font-size:36px;line-height:36px;}
.medium-text{font-size:18px;line-height:24px;}
.small-text{font-size:14px;line-height:16px;}
.button-text{font-size:14px;line-height:16px;}
.slideshow{position:fixed;left:-100%;display:block;width:300%;height:100%;padding:0;margin:0;}.slideshow .slide{position:absolute;top:0;left:0;z-index:2;display:block;width:33.333333%;height:100%;-webkit-transform:translatex(0);-moz-transform:translatex(0);transform:translatex(0);-webkit-transition:-webkit-transform 600ms ease-out 0;-moz-transition:-moz-transform 600ms ease-out 0;transition:transform 600ms ease-out 0;}
.slideshow .slide.active{-webkit-transform:translatex(100%);-moz-transform:translatex(100%);transform:translatex(100%);}
.slideshow .slide.active~.slide{-webkit-transform:translatex(200%);-moz-transform:translatex(200%);transform:translatex(200%);}
.slideshow .slide.static-background{z-index:1;-webkit-transition-delay:600ms;-moz-transition-delay:600ms;transition-delay:600ms;-webkit-transition-duration:0;-moz-transition-duration:0;transition-duration:0;}.slideshow .slide.static-background .content{-webkit-transform:translatex(-100%);-moz-transform:translatex(-100%);transform:translatex(-100%);-webkit-transition:-webkit-transform 600ms ease-out 0;-moz-transition:-moz-transform 600ms ease-out 0;transition:transform 600ms ease-out 0;}
.slideshow .slide.static-background.active{-webkit-transition-delay:0;-moz-transition-delay:0;transition-delay:0;}.slideshow .slide.static-background.active .content{-webkit-transform:translatex(0);-moz-transform:translatex(0);transform:translatex(0);}
.slideshow .slide.active~.slide.static-background .content{-webkit-transform:translatex(100%);-moz-transform:translatex(100%);transform:translatex(100%);}
#slide-1{background:#7af5a5;}
#slide-2{background:#008000 url('http://placekitten.com/g/800/800') center center no-repeat;}
#slide-3{background:orange;}
html,body{padding:0;margin:0;font:normal 14px/16px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#ffffff;}
button{position:fixed;display:block;width:50px;height:50px;font-size:20px;font-weight:bold;line-height:50px;text-align:center;}
button#prev-button{bottom:20px;left:20px;}
button#next-button{right:20px;bottom:20px;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
header{position:absolute;top:60px;display:block;}header .header_wrapper{width:470px;}
header h1{float:left;color:#ffffff;width:390px;height:65px;background-color:#f4692b;font-size:36px;line-height:36px;margin:0;padding:32px 30px 68px 70px;}
header .tri_top{float:left;width:0px;height:0px;border-style:solid;border-width:50px 50px 0 0;border-color:#f4692b transparent transparent transparent;}
header .tri_bottom{float:left;width:0px;height:0px;border-style:solid;border-width:50px 0 0 50px;border-color:transparent transparent transparent #f4692b;}
.content{width:768px;padding:240px 10px 10px 10px;margin:0 auto;text-shadow:#999999 1px 1px 0px;}.content *{margin:0;padding:0;width:400px;}
.content #speakerform{position:fixed;overflow-y:scroll;width:768px;height:300px;}.content #speakerform *{width:100%;}
.content h1{font-size:36px;line-height:36px;margin:0;}.content h1 span{clear:left;}
.content h2{font-size:18px;line-height:24px;}
.content p{font-size:14px;line-height:16px;}
#slide-1{background:url(images/london-sky.png) no-repeat center center;background-size:cover;}
